.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 30px;
  height: 100vh; */
  padding: 80px 20px;
}

.hero-subtitle {
  margin-top: 30px;
  font-size: 0.9rem;
  border: 1px solid #575757;
  padding: 10px 30px;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #888;
}
.hero-subtitle button {
  border-radius: 50%;
  background-color: aliceblue;
}

.hero-title {
  list-style: 1.5rem;
  font-size: clamp(3rem, 8vw, 6rem);
  max-width: 900px;
  margin-bottom: 40px;
  text-align: center;
}

.hero-description {
  font-size: 1.2rem;
  color: #9e9e9e;
  text-align: center;
  max-width: 600px;
  margin-bottom: 40px;
}
.hero-btns {
  padding: 10px 30px;
  display: flex;
  gap: 50px;
}

.hero-scroll-indicator {
  /* position: absolute; */
  /* bottom: 150px; */
  margin-top: 50px;
  font-size: 0.8rem;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
}
